:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(89, 94, 98);
}

ul {
  text-align: left;
}
